/* ------ setting up defaults for entire page of TEA COZY ----- */
body {
  margin: 0; /* make sure no  gap between top of browser viewport and top of header  */
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: grey;
  opacity: 0.9;
}


/* ---- header ---- */
header {
  display: flex;
  align-items: center;
  position: fixed;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header .logo {
}
.logo img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid white;
}

header nav {
  padding-right: 10px;
  font-size: 22px;
  border: 1px solid white;

}
.tcnav {
  color: red;
  background-color: grey;
  opacity: 0.9;
}
/* ---- main content area for TEA COZY --- */
.content {
  padding-top: 69px;
}
